<nav>
    <div class="nav-wrapper">
    <a href="/" class="brand-logo center">Mascotas PET</a>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="/mascotas" >Mascotas</a></li>
        <li><a href="/mascotas/nueva-mascota" >Nueva Mascota</a></li>
        <li><a href="git">Comandos git</a></li>
      </ul>
    </div>
</nav>